*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: linear-gradient(135deg,#0f172a,#020617);
}

.container{
width:350px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
padding:25px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,0.4);
color:white;
}

h2{
text-align:center;
margin-bottom:20px;
}

.form-group{
margin-bottom:15px;
}

label{
display:block;
margin-bottom:5px;
font-size:14px;
}

input{
width:100%;
padding:10px;
border-radius:8px;
border:none;
outline:none;
background:#020617;
color:white;
}

input::placeholder{
color:#aaa;
}

.buttons{
display:flex;
justify-content:space-between;
margin-top:15px;
}

button{
padding:10px 20px;
border:none;
border-radius:8px;
cursor:pointer;
color:white;
transition:0.3s;
}

.save{
background:#22c55e;
}

.update{
background:#f97316;
}

.delete{
background:#ef4444;
}

button:hover{
transform:scale(1.05);
opacity:0.8;
}
