body {
    background: #020617;
    font-family: Arial;
}

.container {
    width: 320px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 7px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 6px 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.save {
    background: green;
}

.update {
    background: orange;
}

.delete {
    background: red;
}
